.jumbotron{
    opacity: 0.8;
}
.display-4{
    text-align: center;
}
.firstpara{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.8rem;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
#skilltag{
    font-size: 2.6rem;
    margin-bottom: 50px;
    color: blueviolet;
}
.skhead{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-bottom: 150px;
    margin: auto;
}
.item{
    border: .1px solid black;
    background-color: rgba(249, 245, 250, 0.8);
    padding: 40px;
    text-align: center;
}
.btn{
    background-color: blueviolet;
    border: 1px solid black;
}
.btn:hover{
    background-color: white;
    color: black;
}
.div-btn{
    margin-top: 5px;
    text-align: center;
}
i{
    margin-bottom: 10px;
}
.container{
    margin: auto;
    margin-bottom: 150px;
}
